# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
go/pkg/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

MiService/
hass-xiaomi-miot/

